@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --Brightorange: hsl(31, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --Verydarkcyan: hsl(179, 100%, 13%);
    --Transparentwhite: hsla(0, 0%, 100%, 0.75);
    --Verylightgray: hsl(0, 0%, 95%);
    --font-1: 'Big Shoulders Display', cursive;
    --font-2: 'Lexend Deca',
        sans-serif;

}

html {

    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    min-width: 100%;
    overflow-x: hidden;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    overflow: hidden;
}

a {
    text-decoration: none;
}



body {
    background-color: var(--Verylightgray);
 padding: 4em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards--section {
   border-radius: 4px 4px 0 0;
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
    &:nth-child(1) {
        background-color: var(--Brightorange);

        button{
            color: var(--Brightorange);
        }
    }
     &:nth-child(2) {
         background-color: var(--Darkcyan);

          button {
              color: var(--Darkcyan);
          }

     }
     &:nth-child(3) {
         background-color: var(--Verydarkcyan);
          button {
              color: var(--Verydarkcyan);
          }
     }
}
main {
    display: grid;
    grid-template-columns: repeat(1, 300px);
   grid-auto-rows: 400px;

   
}
h3{
     margin: 3rem 0 1.38rem;
     font-size: 1.95rem;
     font-weight: 700;
     font-family: var(--font-1);
     text-transform: uppercase;
     line-height: 1.3;
     color: var(--Verylightgray);
}
p{
    font-size: 1rem;
     font-family: var(--font-2);
     color: var(--Transparentwhite);
     margin-bottom: 1em;
}
#learn--more{
    display: inline-block;
    padding: 0.5em 0.75em;
    border-radius: 50px;
    background-color: var(--Verylightgray);
    appearance: none ;
    border: 1px solid var(--Verylightgray);
    min-width: 128px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: capitalize;
    line-height: 1.3;
      font-family: var(--font-2);


      &:hover{
          background-color: unset;
          color: var(--Verylightgray);
      }
}
.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--Verylightgray);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:768px) {
    
    main{
        grid-template-columns: repeat(3, 300px);
    }

}